@import "tailwindcss";

:root {
  --background: #f0e4d8;
  --foreground:  #111827;
  
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0e4d8;
    --foreground: #111827;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
/* tailwind tokens */
/* stylelint-disable at-rule-no-unknown */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* custom tokens*/
  --color-header-beige: #d8cbba;
  --color-component-beige: #e2d5c6;
  --shadow-soft: 0 4px 6px rgba(0, 0, 0, 0.1);
}


